@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<strong>Link Github: </strong> <a href="https://github.com/Felipe-everardo">Felipe-github</a>
<p>@ViewData["Message"]</p>

